.footer__input {
  width: 360px;
  height: 50px;
  left: 120px;
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  color: #151515;
  opacity: 0.7;
}
